<style>
    body .mainDiv .separator {
        background-color: #337ab7;
        color: white;
        font-size: 17px;
        padding-right: 15px;
        margin-top: 15px;
    }
</style>
<div class="mainDiv ng-scope">
    <form name="AccountsForm" class="form-inline ng-pristine ng-valid" ng-submit="SearchWiseAccounts()">
        <fieldset class="row pull-right ng-pristine ng-valid ng-valid-minlength">
            <div class="col-lg-16 pull-right" style="width:100%;">
                <br />
                <div class="col-sm-2">
                    <span class="form-group">
                        <label for="id"></label>id:<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="id" ng-model="searchAccount.Id" type="text" />
                    </span>
                    <span class="form-group">
                        <label for="firstname"></label>firstname:<input class="form-control ng-pristine ng-untouched ng-valfirstname ng-empty" name="firstname" ng-model="searchAccount.FirstName" type="text" />
                    </span>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <span class="form-group">
                        <label for="surname"></label>surname:<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="surname" ng-model="searchAccount.SurName" type="text" />
                    </span>
                    <span class="form-group">
                        <label for="city"></label>city:<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="city" ng-model="searchAccount.City" type="text" />
                    </span>
                </div>
                <div class="col-sm-1 pull-left" style="top: 75px; margin-left: 30px;">
                    <button id="modalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">+</button>
                </div>
                <div class="col-sm-2 pull-right" style="top: 75px;">
                    <span class="form-group"><input type="submit" class="btn btn-primary" value="search" /></span>
                    <span class="form-group"><button type="button" ng-click="ClearForm()" class="btn btn-primary">clear</button></span>
                </div>
            </div>
        </fieldset>
    </form>
    <div style="float: right; width: 100%" class="gridTbl">
        <div class="separator">Accounts</div>
        <table tr-ng-grid page-items="10" items="accounts" enable-filtering="false" selection-mode="SingleRow" selected-items="mySelectedItems" locale="he">
            <thead>
                <tr>
                    <th field-name="Id" display-name="id"></th>
                    <th field-name="FirstName" display-name="first name"></th>
                    <th field-name="SurName" display-name="sur name"></th>
                    <th field-name="City" display-name="city"></th>
                    <th field-name="Street" display-name="street"></th>
                    <th field-name="HouseNumber" display-name="house number"></th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form name="NewAccountForm" class="modal-content" ng-submit="AddNewAccount()">
                    <fieldset>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">New Account</h4>
                        </div>
                        <!-- TEMP -->
                        <!--<pre>NewAccountForm.firstName.$error = {{ NewAccountForm.firstName.$error | json }}</pre>-->
                        <div class="modal-body form-group">
                            <div class="row ">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" name="firstName" ng-model="newAccount.firstName" required />
                                    </div>
                                </div>
                                <div class="col-sm-1" style="color:red">
                                    <p ng-show="NewAccountForm.firstName.$error.required">Required*</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Sur Name:</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" name="surName" ng-model="newAccount.SurName" required />
                                    </div>
                                </div>
                                <div class="col-sm-1" style="color:red">
                                    <p ng-show="NewAccountForm.surName.$error.required">Required*</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>City:</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" name="city" ng-model="newAccount.City" required />
                                    </div>
                                </div>
                                <div class="col-sm-1" style="color:red">
                                    <div class="form-group">
                                        <p ng-show="NewAccountForm.city.$error.required">Required*</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Street:</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" name="street" ng-model="newAccount.Street" required />
                                    </div>
                                </div>
                                <div class="col-sm-1" style="color:red">
                                    <div class="form-group">
                                        <p ng-show="NewAccountForm.street.$error.required">Required*</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>House Number:</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" name="houseNumber" ng-model="newAccount.HouseNumber" required />
                                    </div>
                                </div>
                                <div class="col-sm-1" style="color:red">
                                    <div class="form-group">
                                        <p ng-show="NewAccountForm.houseNumber.$error.required">Required*</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-disabled="NewAccountForm.$invalid" class="btn btn-primary">Add New Account</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>